<form class="formulario" [formGroup]="form">
  <h1 class="h3">Recupera tu Contraseña</h1>
  <hr />

  <p *ngIf="!submitButton.disabled">
    Ingresa tu correo de electrónico con el cual te registraste, ¡nos
    comunicaremos contigo!
  </p>

  <div *ngIf="submitButton.disabled" class="mb-4">
    <p class="text-primary">Enviando correo...</p>
    <div class="position-relative">
      <ngx-spinner [fullScreen]="false" color="#e95420" type="ball-clip-rotate" size="small">
      </ngx-spinner>
    </div>
  </div>

  <div class="contenedor">
    <div class="input-contenedor rounded">
      <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
      <input
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
        [maxlength]="50"
      />
    </div>
    <div
      *ngIf="isValidEmail()"
      class="text-start text-danger fw-bold mt-1 error"
    >
      Ingrese un correo válido
    </div>
    <div 
      *ngIf="isRequiredField('email')"
      class="text-start text-danger fw-bold mt-1 error"
    >
      Correo electrónico requerido
    </div>

    <button
      #submitButton
      (click)="sendRecoveryEmail()"
      type="submit"
      class="button rounded btn btn-primary"
    >
      Restablecer contraseña
    </button>
    <p>
      Volver a
      <a class="breadcrumb-item" routerLink="/login"> Iniciar sesión</a>
    </p>
  </div>
</form>
