
.contenedor {
    width: 100%;
    padding: 1px 15px;
}
.formulario {
    background: #fff;
    margin-bottom: 50px;
    padding: 3px;
    text-align: center;
}
h1 {
    text-align: center;
    color: #1a2537;
    padding-bottom: 5px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 85%;
    padding: 10px;
    border: none;
    margin-left: 10px;
    outline: none;
}
.error {
    font-size: small;
    text-align: left;
}
.input-contenedor {
    margin-top: 15px;
    border: 1px solid #aaa;
    padding: 6px 1px;
}
.icon {
    min-width: 50px;
    text-align: center;
    padding-left: 5px;
    color: #999;
}
.button {
    border: none;
    width: 100%;
    // color: white;
    // background: #1a2537;
    padding: 18px;
    margin-top: 15px;
    // border-radius: 5px;
    cursor: pointer;
}
// .button:hover {
//     background: cadetblue;
// }
.button:disabled {
    background: grey;
}
p {
    text-align: center;
    padding-top: 20px;
}
// .link {
//     text-decoration: none;
//     color: #1a2537;
//     font-weight: 600;
// }
// .link:hover {
//     color: cadetblue;
// }
@media(min-width:768px) {
    .formulario{
        margin: auto;
        width: 450px;
        margin-top: 20px;
        border-radius: 2%;
    }
}