<div class="course-container">
  <div class="row course-data">
    <div class="col-4">
      <div class="course-img-container">
        <img [src]="course.image ? course.image : './assets/images/course.png'" alt=""
          [class.course-img-default]="!course.image">
      </div>
    </div>
    <div class="col-8">
      <h1 class="mb-4 d-flex gap-3">
        {{ course.name }}
        <fa-icon [icon]="faCheck" [className]="activeCheck ? 'icon active_icon' : 'icon innactive_icon'"
          data-bs-toggle="tooltip" title="Marcar como completado" title="Marcar como completado"
          (click)="addDeleteCheck()">
        </fa-icon>
      </h1>
      <p class="mb-3"><b>Brindado por: </b><a [routerLink]="['/instituciones/detalle', institution._id]">{{
          institution.name }}</a></p>
      <p class="mb-3"><b>Fecha de Inicio: </b>{{ course.start }}</p>
      <p class="mb-3"><b>Duración: </b>{{ (course.duration) ? course.duration : '-' }}</p>
      <p class="mb-3"><b>Horario: </b>{{ course.schedule }}</p>
      <p class="mb-3 d-flex gap-2"><b>Valoración: </b>
        <span class="d-flex gap-1 text-secondary fw-bolder">
          {{ getRating() }}
          <fa-icon *ngFor="let star of stars" [icon]="faStar"
            [className]="star ? 'star_icon active_icon' : 'star_icon innactive_icon'">
          </fa-icon>
        </span>
      </p>
      <p class="mb-3 price"><b>Precio: </b>{{ course.price | currency }}</p>
      <div class="mt-5">
        <div class="buy">
          <fa-icon [icon]="faHeart" [className]="activeHeart ? 'icon active_icon' : 'icon innactive_icon'"
            (click)="addDeleteFavorite()">
          </fa-icon>
          <p (click)="addDeleteFavorite()">Añadir a favoritos</p>

          <a [href]="course.url" class="btn btn-warning" target="_blank">
            Comprar
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Course Description -->
  <div class="row course-description">
    <div class="col-12">
      <h1>Descripción</h1>
      <p *ngIf="course.description !== ''" class="text-justify">
        {{ course.description }}
      </p>
      <p *ngIf="course.description === ''" class="text-justify text-danger fw-bold">
        No se encontró una descripción.
      </p>
    </div>
  </div>

  <!-- Ratings Comments -->
  <div class="row ">
    <div class="col-12 ratings_container">
      <h1>Valoraciones
        <fa-icon matTooltip="Valora el curso!" matTooltipPosition="above" [icon]="faShare" class="share_icon"
          (click)="openRatingModal()">
        </fa-icon>
      </h1>
      <div class="cards_rating_container">
        <div class="card_rating" *ngFor="let rating of ratings">
          <div class="card_rating_header">
            <img src="./assets/images/user.png" alt="">
            <div class="card_rating_user">
              <div class="card_rating_user_name">
                {{ rating.user }}
              </div>
              <div class="card_rating_user_stars">
                <fa-icon *ngFor="let star of rating.stars" [icon]="faStar"
                  [className]="star ? 'star_icon active_icon' : 'star_icon innactive_icon'">
                </fa-icon>
              </div>
            </div>
          </div>
          <div class="card_rating_comment">
            {{ rating.comment }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Course Comments -->
  <div class="row course-comments">
    <div class="col-12">
      <h1>Discusión</h1>
      <div class="new-comment">
        <div class="comment-input">
          <img src="./assets/images/user.png" alt="">
          <textarea name="comment" id="comment" rows="4" placeholder="Escribe un comentario..."
            [(ngModel)]="newComment"></textarea>
        </div>
        <div class="comment-btn">
          <button class="btn btn-warning" (click)="addComment()">Enviar</button>
        </div>
      </div>
      <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
          <div class="comment-data">
            <img src="./assets/images/user.png" alt="">
            <div class="comment-info">
              <div class="comment-header">
                <p class="comment-user">{{ comment.user.username }}</p>
                <p class="comment-date">{{ comment.createdAt | date: 'dd/MM/yyyy' }}</p>
              </div>
              <div class="comment-text">
                <p>{{ comment.content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
