.card-text {
  font-size: .9rem;
  height: 80px;
  margin-top: 1rem
}

.card-title {
  height: 50px
}

.course-container {
  cursor: pointer;
}

img {
  height: 150px;
}

a {
  text-decoration: none;
}