$bg-dark: rgb(43, 43, 43);
$bg-light: rgb(240, 240, 240);
$soft-dark: rgb(59, 59, 59);
$soft-light: rgb(255, 249, 249);
$normal-main: #a1c839;
$soft-main: #bddf60;
$dark-main: #85aa1f;
$option: #98ca3f;
$option2: #739936;

/*
#eec617
#f0cc2e
#f1d145
#f3d75c
#f5dd74
#f6e28b
#f8e8a2
#faeeb9
#fcf4d1
*/

body {
  margin: 0;
}

// * {
//   overflow: hidden;
// }
