@import './../../../../app.component.scss';


.favorites-container .card {
  // background-color: $soft-main;
  background-color: #fbddd2;
  color: #8c3213;
  text-align: center;
}

.spinner-container {
  margin-top: 6em;
}
