<form class="formulario" [formGroup]="form" >
    <h1 class="h3">Nueva Contraseña</h1>
    <hr />
    <div class="contenedor">
    <div class="input-contenedor rounded">
        <fa-icon [icon]="faLock" class="icon"></fa-icon>
        <input type="password" placeholder="Nueva Contraseña" formControlName="password" [minlength]="3" [maxlength]="20"/>
    </div>
    <div *ngIf="isRequiredField('password')"
          class="text-start text-danger fw-bold mt-1 error">
      Contraseña requerida
    </div>
    <div *ngIf="isMinLengthInvalid('password')"
          class="text-start text-danger fw-bold mt-1 error">
      La contraseña debe tener como mínimo 3 caracteres
    </div>

    <div class="input-contenedor rounded">
        <fa-icon [icon]="faLock" class="icon"></fa-icon>
        <input type="password" placeholder="Repite la Contraseña" formControlName="confirmPassword" [minlength]="3" [maxlength]="20"/>
    </div>
    <div *ngIf="isRequiredField('confirmPassword') ? false : notMatchError('confirmPassword')"
          class="text-start text-danger fw-bold mt-1 error">
      Las contraseñas no coinciden
    </div>

    <button (click)="resetPassword()" class="button rounded btn btn-primary">Guardar</button>
    </div>

</form>
