<form class="formulario" [formGroup]="form">
  <h1 class="h3">Regístrate y comienza a aprender</h1>
  <hr />

  <div class="contenedor">

    <div class="input-contenedor rounded">
      <fa-icon [icon]="faUser" class="icon"></fa-icon>
      <input type="text"
             placeholder="Nombre de usuario"
             formControlName="username"
             [maxlength]="50"
             pattern="[A-Za-z0-9]+"/>
    </div>
    <div *ngIf="isRequiredField('username')"
          class="text-start text-danger fw-bold mt-1 error">
      Nombre de usuario requerido
    </div>
    <div *ngIf="isPatternValid('username')"
          class="text-start text-danger fw-bold mt-1 error">
      Solo letras o números
    </div>
    <div *ngIf="isMaxLengthExceeded('username')"
          class="text-start text-danger fw-bold mt-1 error">
      No se debe exceder los 50 caracteres
    </div>

    <div class="input-contenedor rounded">
      <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
      <input type="email" 
             placeholder="Correo electrónico" 
             formControlName="email"
             [maxlength]="50"/>
    </div>
    <div *ngIf="isRequiredField('email')"
          class="text-start text-danger fw-bold mt-1 error">
      Correo electrónico requerido
    </div>
    <div *ngIf="isValidEmail()"
         class="text-start text-danger fw-bold mt-1 error">
      Ingrese un correo válido
    </div>
    <div *ngIf="isMaxLengthExceeded('email')"
         class="text-start text-danger fw-bold mt-1 error">
      No se debe exceder los 50 caracteres
    </div>

    <div class="input-contenedor rounded">
      <fa-icon [icon]="faLock" class="icon"></fa-icon>
      <input type="password"
             placeholder="Contraseña"
             formControlName="password"
             [minlength]="3"/>
    </div>
    <div *ngIf="isRequiredField('password')"
          class="text-start text-danger fw-bold mt-1 error">
      Contraseña requerida
    </div>

    <div *ngIf="isMinLengthInvalid('password')"
          class="text-start text-danger fw-bold mt-1 error">
      La contraseña debe tener como mínimo 3 caracteres
    </div>
        
    <input type="submit"
           value="Registrarse"
           class="button rounded btn btn-primary"
           (click)="signup()"
           #submitButton />

    <p>
      ¿Ya tienes cuenta? <a class="breadcrumb-item" routerLink="/login"> Inicia sesión</a>
    </p>
  </div>
</form>
