<div class="container mt-auto">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top flex-column-reverse flex-md-row">

    <p class="col-md-4 col-12 text-muted text-center text-md-left m-0">&copy; 2022 Gourse. Todos los derechos reservados
    </p>

    <div
      class="col-md-4 col-12 d-flex align-items-center justify-content-center link-dark text-decoration-none py-2 py-md-0 mb-2 mb-md-0">
      <h2 class="fw-bold m-0 p-md-0">Gourse</h2>
    </div>

    <ul class="nav col-md-4 col-12 justify-content-center justify-content-md-end">
      <li class="nav-item"><a routerLink="/cursos/busqueda" class="nav-link px-2 text-muted">Búsqueda</a></li>
      <li class="nav-item">
        <a routerLink="/instituciones/busqueda" class="nav-link px-2 text-muted">Instituciones</a>
      </li>
    </ul>
  </footer>
</div>
