<mat-nav-list>
  <div class="py-4 ps-3" routerLink="/admin/inicio">
    <span class="logo h1 fw-bold">Gourse</span>
  </div>
  <a mat-list-item routerLink="/admin/inicio" routerLinkActive="list-item-active">
    <mat-icon class="material-icons-outlined">space_dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/admin/usuarios" routerLinkActive="list-item-active">
    <mat-icon class="material-icons-outlined">group</mat-icon>
    <span>Usuarios</span>
  </a>
  <a mat-list-item routerLink="/admin/instituciones" routerLinkActive="list-item-active">
    <mat-icon class="material-icons-outlined">school</mat-icon>
    <span>Instituciones</span>
  </a>
</mat-nav-list>
