<div class="card mb-4">
  <div class="card-body">
    <h6 class="card-title"><a [routerLink]="['/cursos/detalle', course._id]" class="text-decoration-none fw-bold">{{ course.name }}</a></h6>
    <p class="card-text">{{ course.description | summarize }}</p>

    <div class="d-flex mt-3">
      <span class="badge bg-secondary fw-normal me-2">Precio: {{ course.price | currency }}</span>
      <span class="badge bg-secondary fw-normal me-2">Horario: {{ course.schedule }}</span>
      <span class="badge bg-secondary fw-normal me-2">Inicio: {{ course.start | date }}</span>
    </div>
  </div>
</div>