<h1 mat-dialog-title>Déjanos un Comentario!</h1>
<div mat-dialog-content class="d-flex flex-column justify-content-center align-items-center">
  <mat-form-field appearance="fill" style="width: 90%;">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 90%;">
    <mat-label>Correo</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
      placeholder="Ex. pat@example.com" [(ngModel)]="data.email">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 90%;">
    <mat-label>Mensaje</mat-label>
    <textarea matInput [(ngModel)]="data.message"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex gap-4 justify-content-center align-items-center">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="sendMessage()" [disabled]="!emailFormControl.valid">Enviar</button>
</div>
